<a style="display:flex; flex-direction: colum;width:200px; height:200px;" *ngFor="let offer of offers">
    <article style="display:flex; flex-direction: column;width:150px; height:150px; background-color:brown; margin: 3%;">
      <span>{{offer.id}}</span>
        <span>{{offer.userId}}</span>
        <span>{{offer.nft}}</span>
        <span>{{offer.porcentaje}}</span>
        <span>{{offer.descripcion}}</span>
        <div *ngIf="checkUserId(offer.userId) == true && isUserLoggedIn" #loggedOut>
          <button type="button" (click)="deleteOffer(offer.id)">BORRAR OFERTA</button>
        </div>
          <ng-template [ngIf]="isAdmin$ | async" [ngIfElse]="loggedOut">
            <button type="button"(click)="deleteOffer(offer.id)">BORRAR OFERTA</button>
          </ng-template>
         
        <button type="button" *ngIf="checkUserId(offer.userId) == false && isUserLoggedIn" routerLink="/main/{{id}}" (click)="save(offer.id, offer.userId)">APLICAR A OFERTA</button>
        <button type="button" *ngIf="checkUserId(offer.userId) == true && isUserLoggedIn" routerLink="/dashboard">DETALLES DE LA OFERTA</button>
        <button type="button" *ngIf="checkUserId(offer.userId) == true && isUserLoggedIn" routerLink="/dashboard">EDITAR OFERTA</button>
      </article>
  </a>
  