<a style="display:flex; flex-direction: colum;width:200px; height:200px;" *ngFor="let offer of offers">
    <article style="display:flex; flex-direction: column;width:150px; height:150px; background-color:brown; margin: 3%;">
      <span>{{offer.id}}</span>
        <span>{{offer.user}}</span>
        <span>{{offer.nft}}</span>
        <span>{{offer.porcentaje}}</span>
        <span>{{offer.descripcion}}</span>
        <button type="button" *ngIf="authService.isLoggedIn == true" routerLink="/main/{{id}}" (click)="deleteOffer()">BORRAR OFERTA</button>
    </article>
  </a>
  