<article>
    <form action="" style="display:flex; flex-direction: column;">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>NAME NFT</mat-label>
            <input matInput placeholder="NOMBRE NFT" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>CRYPTOMONEDA</mat-label>
            <input matInput placeholder="NOMBRE NFT" required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>WEB</mat-label>
            <input matInput placeholder="WEB" required>
        </mat-form-field>
        <label style="text-align: center;">IMAGE CRYPTO</label>
        <input style="text-align: center;" type="file" required>
        <br>
        <label style="text-align: center;">IMAGE NFT</label>
        <input style="text-align: center;" type="file" required>
        <br>
        <button type="button" color="primary">SAVE</button>
    </form>
</article>