<form [formGroup]="form" (submit)="save($event)" style="display:flex; flex-direction: column;">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>NAME NFT</mat-label>
        <input matInput placeholder="NOMBRE NFT" formControlName="nameNft" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>CRYPTOMONEDA</mat-label>
        <input matInput placeholder="CRYPTOMONEDA" formControlName="nameCrypto" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>WEB</mat-label>
        <input matInput placeholder="WEB" formControlName="web" required>
    </mat-form-field>
    <div class="img">
        <div *ngIf="!file">
            <input hidden type="file" multiple id="img" name="img" (change)="loadFile($event)">
            <button for="img" mat-raised-button type="button"><label for="img">SUBIR FOTO NFT</label></button>
        </div>
        <div *ngIf="file">
            <label for="">Nombre de archivo: {{file.name}}</label>
        </div>
    </div>
    <br>
    <button type="submit" [disabled]="!form.valid" color="primary">SAVE</button>
</form>
