  <mat-toolbar color="primary" style="display: flex;justify-content: space-around; height: 10%; " >
      <a routerLink="/main" class="a">MAIN</a>
      <a routerLink="/login" class="a" *ngIf="!isUserLoggedIn">LOGIN</a> 
      <a routerLink="/dashboard" class="a" *ngIf="isUserLoggedIn">PERFIL</a> 
      <a style="cursor: pointer;"*ngIf="isUserLoggedIn" (click)="logout()">LOGOUT</a>
      <a routerLink="/createnft" class="a" *ngIf="isAdmin$ | async">ADD NFT</a> 
  </mat-toolbar>  
  <router-outlet>
  </router-outlet>
 
  <footer style="width: 100%; background-color:#3f51b5;">
      <div style="text-align: center; padding: 40px; font-size: 25px;">
        <p> © 2022 CryptoJobs All rights reserved.</p>
      </div>
  </footer>