<article style=" width: 100%; display: flex; justify-content: space-around; height: 70%;">
  <section style="width: 30%; margin: 0 auto; height: 50%; margin-top: 10%;padding-top: 10px;">
    <form [formGroup]="form"  style="display:flex; flex-direction: column; ">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" required formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" required  formControlName="password">
      </mat-form-field>
      <br>
        <button class="a" (click)="ingresar()" [disabled]="!form.valid">INICIAR SESIÓN</button>
    </form>
  </section>
</article>
<a routerLink="/register">Registrarse</a>

