<div style="text-align: center; margin-top: 7em;">
  <h1>USUARIO {{email}}</h1>
</div>
<div style="text-align: center; margin-top: 4em;">
  <h1>OFERTAS APLICADAS</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>APPLY ID</span></th>
        <th><span>QUIEN APLICA</span></th>
        <th><span>OFERTA</span></th>
        <th><span>CREADOR DE OFERTA</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let apply of applysOffer">
        <td class="lalign">{{apply.id}}</td>
        <td>{{apply.userId}}</td>
        <td>{{apply.offerId}}</td>
        <td>{{apply.userOffer}}</td>

      </tr>
    </tbody>
  </table>
</div>
<div style="text-align: center; margin-top: 4em;">
  <h1>OFERTAS CREADAS</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>OFFER ID</span></th>
        <th><span>NAME NFT</span></th>
        <th><span>PORCENTAJE</span></th>
        <th><span>DURACION</span></th>
        <th><span>Rank</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td class="lalign">{{offer.id}}</td>
        <td>{{offer.nameNft}}</td>
        <td>{{offer.porcentaje}}</td>
        <td>{{offer.duracion}}</td>
        <td>{{offer.descripcion}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: center; margin-top: 4em;">
  <h1>CANDIDATOS</h1>
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th><span>CANDIDATO</span></th>
        <th><span>OFERTA</span></th>
        <th><span>CONTRATAR</span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <td class="lalign">{{candidate.userId}}</td>
        <td>{{candidate.offerId}}</td>
        <td>  <button type="button" (click)="saveContrato(candidate.id, candidate.userId, candidate.userOffer, candidate.offerId)">CONTRATAR</button></td>
      </tr>
    </tbody>
  </table>
</div>