<!-- Sidebar navigation -->
<!-- <div class="container-fluid">
  <a (click)="authService.SignOut()">Log out</a>

  <div class="row" *ngIf="authService.userData as user">
            <div class="col-md-12">
              <div class="media">
                <div class="media-body">
                  <p>User ID: <strong>{{user.uid}}</strong></p>
                  <p>Email: <strong>{{user.email}}</strong></p>
                </div>
              </div>
            </div>
          </div>
</div> -->
<button class="btn btn-primary btn-block m-2" (click)="logout()">LOGOUT</button>
<button class="btn btn-primary btn-block m-2" (click)="obtenerUsuarioLogeado()">USUARIO</button>